html {
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    
}

.custom_dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;
    width: 100px;
    list-style: none;
    display: none;
}

.custom_dropdown a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


.custom_dropdown.show {
    display: block;    
}

.nav-link.active {
    background-color: white !important; /* Nền trắng nổi bật */
    color: #db2777 !important; /* Chữ màu hồng đậm (Pink-600) */
    font-weight: bold; /* Chữ đậm lên */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    /* Mẹo nhỏ: Thêm cái vạch màu hồng bên trái */
    border-left: 5px solid #db2777;
    border-radius: 4px 8px 8px 4px; /* Bo góc lạ mắt xíu */
}

.btn-nav {
    background-color: white !important; /* Nền trắng nổi bật */
    color: cornflowerblue !important; /* Chữ màu hồng đậm (Pink-600) */
    font-weight: bold; /* Chữ đậm lên */
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1); /* Bóng đổ nhẹ */
    /* Mẹo nhỏ: Thêm cái vạch màu hồng bên trái */
}




/*Setting Step indicator*/
.step {
    display: none;
}

.step.active {
        display: block;
}

.step-indicator {
    gap: 10px;
}

.step-indicator .step-item.active {
    font-weight: bold;
    color: #258cfb;
}

.step-indicator .step-item {
    text-align: center;
    width: 33%;
    padding: 10px;
    color: #999;
}

.upload-zone {
    border: 2px dashed #cbd5e1; /* Viền nét đứt màu xám xanh */
    border-radius: 8px;
    background-color: #f8fafc;
    transition: all 0.3s ease;
    position: relative;
}

    /* Hiệu ứng khi di chuột vào */
    .upload-zone:hover {
        border-color: #fb923c;
        background-color: white;
        cursor: pointer;
    }

.upload-zone__label {
    cursor: pointer;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #ffe4e8 0%, #fbcfe8 100%);
}

.upload-zone__icon {
    font-size: 40px;
    margin-bottom: 10px;
    color: #64748b;
}

.upload-zone__text {
    font-size: 16px;
    color: #334155;
    margin-bottom: 4px;
}

.upload-zone__hint {
    font-size: 12px;
    color: #94a3b8;
}

.upload-preview {
    text-align: center;
}

/* Style cho ảnh preview (sẽ dùng sau) */
.preview-image {
    width: 50%;
    border-radius: 4px;
    margin-top: 10px;
    object-fit: cover; /* Giữ tỉ lệ ảnh không bị méo */
}



