html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    
}

.custom_dropdown {
    position: absolute;
    right: 0;
    top: 50px;
    background-color: antiquewhite;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 0;
    margin: 0;
    width: 100px;
    list-style: none;
    display: none;
}

.custom_dropdown a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}


.custom_dropdown.show {
    display: block;    
}




/*Setting Step indicator*/
.step {
    display: none;
}

.step.active {
        display: block;
}

.step-indicator {
    gap: 10px;
}

.step-indicator .step-item.active {
    font-weight: bold;
    color: #258cfb;
}

.step-indicator .step-item {
    text-align: center;
    width: 33%;
    padding: 10px;
    color: #999;
}



